@charset "UTF-8";

 h1{
  background-color: aliceblue;
  font-family:Arial, Helvetica, sans-serif;
 font-size: 20px;
} 
 h2{background-color: dimgray;
 color: rgb(9, 111, 201);}
 p{color: aliceblue;}
 body{background-color: black;}
 div{
  margin-left: 250px;
 }
 